{% extends 'base.html' %}

{% block content %}
<h2>Talabalar Ro'yxati</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ism</th>
      <th>Familiya</th>
      <th>Tug'ilgan Sana</th>
      <th>Fakultet</th>
      <th>Kurs</th>
      <th>Bino</th>
    </tr>
  </thead>
  <tbody>
    {% for talaba in talabalar %}
    <tr>
      <td>{{ talaba.ism }}</td>
      <td>{{ talaba.familiya }}</td>
      <td>{{ talaba.tugilgan_sana }}</td>
      <td>{{ talaba.fakultet }}</td>
      <td>{{ talaba.kurs }}</td>
      <td>{{ talaba.bino.nomi }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

